.portadaHome {
  background-image: url("../../public/colors.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.tituloHome {
  animation: colorChange 3s infinite;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7);
  font-size: 80px;
  text-align: center;
  font-weight: 700;
  padding-top: 45px;
}

@keyframes colorChange {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  50% {
    color: green;
  }
  75% {
    color: blue;
  }
  100% {
    color: purple;
  }
}

@media (max-width: 768px) { 
  .tituloHome {
    font-size: 60px;
    padding-top: 65px;
  }
}

@media (max-width: 480px) {
  .portadaHome {
    background-image: url("/colors-2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .tituloHome {
    font-size: 50px;
    padding-top: 95px;
  }
}
