.virtual-keyboard {
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.display input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.controls button {
  flex-grow: 1;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #08aec4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.controls button:hover {
  background-color: #098b9c;
}

.alphabet,
.special-keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  width: 50px;
  height: 50px;
  font-size: 18px;
  background-color: #f1f1f1;
  border: 2px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #08aec4;
  color: white;
}

#root > main > section > section > div > button:nth-child(1),
#root > main > section > section > div > button:nth-child(8),
#root > main > section > article.controls > button {
  width: 120px;
}

#root > main > section > article.controls > button:hover {
  background-color: #098b9c;
}

.playback-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.playback-button {
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ddd;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.playback-button.active {
  background-color: #4caf50;
  color: white;
}

.playback-button:hover {
  background-color: #bbb;
}

.highlighted-word {
  cursor: pointer;
  margin-right: 2px;
  padding: 3px;
}

.highlighted-word.highlighted {
  background-color: yellow;
}

@media (max-width: 768px) {
  button {
    width: 45px;
    height: 45px;
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  button {
    width: 40px;
    height: 40px;
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
}
