.logoHeader {
  height: 50px;
}

header {

  z-index: 1000;

  & nav {
    background-color: rgb(238, 173, 52);
  }
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link.active {
  text-decoration: underline white;
  color: white !important;
}

.navbar-toggler-icon {
  background-color: white;
}
