#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main.container {
  margin-top: 66px;
  flex: 1;
}

footer {
  margin-top: auto;
}
